body{
    background-color: #102C57;
    font-family: 'Cardo', serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Code Pro', monospace;

  }

  .nav-link {
    color: #DAC0A3;
  }
  .nav-link:hover{
    color: #b5a089;
  }

  .title{
    background: linear-gradient(135deg, #f8f0e5, #eadbc8, #c9a781);   
    animation: gradient-animation 18s ease infinite;
  }
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  .title *{
    color: #102C57;
  }

  #title-text{
    overflow: hidden; 
    border-right: 2px solid #102C57; 
    white-space: nowrap; 
    animation: typing 2s steps(50,end) forwards; 
    font-weight: bold;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    90% {
      opacity: 0;
      visibility: visible;
    }
    to {
      opacity: 1;
      visibility: visible;
    }
  }

  #under-title-text{
    font-size: 30px;
    color: #102C57;
    padding-top: 3px;
    animation: fadeIn 2s ease-out;
  } 

  #btn-skills{
    border-color: #102C57;
    background-color: #102C57;
    color: #DAC0A3;
  }
  #btn-skills:hover{
    background-color: #184282;
  }

  #btn-contacts{
    border-color: #102C57;
  }
  #btn-contacts:hover{
    background-color: #102C57;
    color: #DAC0A3;
  }
  

  #testimonial{
    background-color: #EADBC8;
    color: #102C57;
    text-align: center;
  }
  #testimonial h1{
    font-weight: bolder;
    font-size: 30px;
  }
  #testimonial p{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }
  .profile-img {
    height: 200px;
    border-radius: 50%;
  }
  
  .footer{
    color: #DAC0A3;
  }

  .telegram-svg{
    fill: #DAC0A3;
  }

  .telegram-svg:hover{
    fill: #b5a089;;
  }
