body{
    background-color: #102C57;

    font-family: 'Cardo', serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Code Pro', monospace;

    
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    20% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .nav-link {
    color: #DAC0A3;
  }
  .nav-link:hover{
    color: #b5a089;
  }


  #contacts{
    background: linear-gradient(135deg, #f8f0e5, #eadbc8, #c9a781);   
    animation: gradient-animation 18s ease infinite;
    color: #102C57;
    text-align: center;
    display: block;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  #contacts h1{
    font-size: 3em;
    overflow: hidden; 
    border-right: 2px solid #102C57; 
    white-space: nowrap; 
    animation: typing 2s steps(70,end) forwards; 
    font-weight: bold;
  }

  #btn-contacts{
    border-color: #102C57;
    background-color: #102C57;
    color: #DAC0A3;
  }
  #btn-contacts:hover{
    background-color: #184282;
  }



  .footer{
    color: #DAC0A3;
  }
  .telegram-svg{
    fill: #DAC0A3;
  }

  .telegram-svg:hover{
    fill: #b5a089;;
  }
